extends ../layouts/layoutAuth

block body
  .module-auth
    .header
      img(src='/img/logo-light.png')
    .main
      form(method='POST', action='/login')
        .form-group
          label Email address
          input.form-control(type='email', placeholder='Email')
        .form-group
          label Password
          input.form-control(type='password', placeholder='Password')
        .form-options
          .checkbox
            label
              input(type='checkbox')
              |  Remember Me
        .form-actions
          button.btn.btn-primary.btn-block.btn-lg(type='submit') Login
    .footer
      a(href='/') Return Home
      span |
      a(href='/') Forgot Password?
