doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Pixelmasher

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/libs/simple-line-icons/css/simple-line-icons.css")
    link(rel="stylesheet", href="/styles/libs/animate.min.css")
    link(rel="stylesheet", href="/styles/app.css")
    // STYLES END

  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#site-navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top', title='Pixel Masher')
            img.light(src='/img/logo-light.png', alt='Pixel Masher', title='Pixel Masher')
            img.dark(src='/img/logo-dark.png', alt='Pixel Masher', title='Pixel Masher')
        // Collect the nav links, forms, and other content for toggling
        #site-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#services') Services
            li
              a.page-scroll(href='#portfolio') Portfolio
            li
              a.page-scroll(href='#contact') Contact
            li
              a(href='/login') Login
        // /.navbar-collapse
      // /.container-fluid
    block body
    section#footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Let's Get In Touch!
            p
              | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
          .col-lg-4.col-lg-offset-2.text-center
            i.fa.fa-mobile.fa-3x.wow.bounceIn
            p 123-456-6789
          .col-lg-4.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='mailto:evolmk@gmail.com') evolmk@gmail.com
    // SCRIPTS
    script(src="/js/libs/sails.io.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/angular-bootstrap/ui-bootstrap.js")
    script(src="/vendor/angular-resource/angular-resource.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/js/libs/jquery.js")
    script(src="/js/libs/bootstrap.min.js")
    script(src="/js/libs/jquery.easing.min.js")
    script(src="/js/libs/jquery.fittext.js")
    script(src="/js/libs/wow.min.js")
    script(src="/js/libs/classie.js")
    script(src="/js/app.js")
    script(src="/js/layout.js")
    // SCRIPTS END
