doctype html
html
  head
    title
      | Pixelmasher
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/app.css")
    // STYLES END

  body(ng-app="pixelmasherApp")
    block body

    // SCRIPTS
    script(src="/js/sails.io.js")
    // SCRIPTS END
