extends ../layouts/layoutSite

block body
  header
    .header-content
      .header-content-inner
        h1 hello, i'm Mike Kuczynski.
          div.font-light a professional front-end web developer
    a.arrow.page-scroll(href='#about')
      i.fa.fa-angle-down(aria-hidden='true')
  section#about.bg-primary
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h2.section-heading About Me
          p.leadin
            | I'm 34 initially from NJ, now living in sunny Florida.  I'm a freelance web designer & web developer, with background in all modern web technologies.
            | Over the years I've worked with small & large companies building intuitive web apps, creative websites, and implementing seo & marketing campaigns.
          .social-links
            a.social(href='https://twitter.com/evolmk' target='_blank')
              i.fa.fa-twitter(aria-hidden='true')
            a.social(href='https://www.facebook.com/evolmk' target='_blank')
              i.fa.fa-facebook(aria-hidden='true')
  section#services.bg-white
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Services
          p.leadin
            | I specialize in scalable, web development services without compromising design.  I provide a wide range of services including print design, web design, web development, mobile application development, and consulting.
    .container
      .row
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-cube.wow.bounceIn.text-primary
            h3 Design
            p.text-muted Modern Web-app & Website Design using the latest UI/UX Techniques
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-file-code-o.wow.bounceIn.text-primary(data-wow-delay='.1s')
            h3 Development
            p.text-muted Custom Coding using latest technologies: Node.js, Angular.js, ASP.net, SASS, HTML5
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
            h3 Print
            p.text-muted Business Card, Brochure, and any Print Material Design
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary(data-wow-delay='.3s')
            h3 Mobile
            p.text-muted Mobile-First UI/UX Design & Development
  section#portfolio.bg-secondary(style='padding-bottom:0;')
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Portfolio
          p.leadin
            | Some of my latest works, all designed & coded by me
    .container-fluid
      .row.no-gutter-border
        .col-lg-4.col-sm-6
          a.portfolio-box(href='https://bitkee.com/' target='_blank')
            img.img-responsive(src='img/portfolio/bitkee.jpg', alt='Bitkee.com')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Bitkee
        .col-lg-4.col-sm-6
          a.portfolio-box(href='https://bitkee.com/order' target='_blank')
            img.img-responsive(src='img/portfolio/bitkee-order.jpg', alt='Bitkee.com Order Form')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Bitkee Order Form
        .col-lg-4.col-sm-6
          a.portfolio-box(href='https://www.transcaer.com/' target='_blank')
            img.img-responsive(src='img/portfolio/transcaer.jpg', alt='Transcaer.com')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Transcaer
        .col-lg-4.col-sm-6
          a.portfolio-box(href='http://www.joelharperfitness.com/' target='_blank')
            img.img-responsive(src='img/portfolio/joelharperfitness.jpg', alt='Joel Harper Fitness')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Joel Harper Fitness
        .col-lg-4.col-sm-6
          a.portfolio-box
            img.img-responsive(src='img/portfolio/pixelmasher-cms.jpg', alt='Pixelmasher Node.js CMS')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Pixelmasher CMS
        .col-lg-4.col-sm-6
          a.portfolio-box(href='http://www.teknicks.com/' target='_blank')
            img.img-responsive(src='img/portfolio/teknicks.jpg', alt='Teknicks.com')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Design & Development
                .project-name
                  | Teknicks
