extends ../layouts/layoutSite

block body
  header
    .header-content
      .header-content-inner
        h1 hello, i'm Mike Kuczynski.
          div.font-light a professional front-end web developer
  section#about.bg-primary
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h2.section-heading About Mike
          p.leadin
            | I'm 34 initially from NJ, now living in Sunny Florida.  I'm a freelance web designer & web developer, with background in all modern web technologies.
            | Over the years I've worked with small & large companies building intuitive web apps, creative websites, and implementing seo & marketing campaigns .
          .social-links
            h4 Follow Me
            a.social(href='https://twitter.com/evolmk' target='_blank')
              i.fa.fa-twitter(aria-hidden='true')
            a.social(href='https://www.facebook.com/evolmk' target='_blank')
              i.fa.fa-facebook(aria-hidden='true')
  section#services.bg-white
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Services
          p.leadin
            | I provide a wide range of services including print design, web design, web development, mobile application development, and consulting.
    .container
      .row
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-code.wow.bounceIn.text-primary
            h3 Design
            p.text-muted Our templates are updated regularly so they don't break.
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-code.wow.bounceIn.text-primary(data-wow-delay='.1s')
            h3 Development
            p.text-muted You can use this theme as is, or you can make changes!
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
            h3 Print
            p.text-muted We update dependencies to keep things fresh.
        .col-md-3.col-xs-12.text-center
          .service-box
            i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary(data-wow-delay='.3s')
            h3 Mobile
            p.text-muted You have to make your websites with love these days!
  section#portfolio.bg-secondary
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Portfolio
    .container-fluid
      .row.no-gutter
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/1.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/2.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/3.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/4.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='#')
            img.img-responsive(src='img/portfolio/6.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
