/* =====================================
   Variables
   ===================================== */

//#2E3A52 [dark blue-purple]
//#2C3C4B [dark blue]
//#3E71AC [blue]
//#5E83AE [light blue-purple]
//#AFBCCC [very light blue]
//#6fa7d7 [bright blue]
//#EF7020 [orange]
//#DF6C23 [orange dull]
//#45B66E [green success]

$theme-primary: #428bca;
$theme-secondary: #F05F40;
$theme-dark: #222;
